includes:
    - ../../../vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - src
    bootstrapFiles:
        - ../../../vendor/autoload.php
    tmpDir: build/phpstan
